In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
import tensorflow as tf
import keras 
from xgboost import XGBRegressor
import os
import seaborn as sns
import shap

C:\Users\Paa Kwasi\anaconda3\lib\site-packages\xgboost\compat.py:36: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import MultiIndex, Int64Index

In [2]:
pred.predict(predicted)

NameError: name 'pred' is not defined

In [3]:
import joblib

In [4]:
# Load the model from the saved file
model_file_path="C:/Users/Paa Kwasi/Desktop/Interfacial tension research/your_model.pkl"
loaded_model = joblib.load(model_file_path)

# Now 'loaded_model' contains your XGBoost model

In [5]:
predicted=np.array([[0.33857442, 0.21469741, 0., 0., 0.69070707,0., 0.49165943, 0., 0., 0.,1., 0., 0., 0.]])
predicted.shape

(1, 14)

In [6]:
loaded_model.predict(predicted)

array([39.603447], dtype=float32)

In [7]:
df= pd.read_csv("C:/Users/Paa Kwasi/Desktop/Interfacial tension research/ift_expanded.csv")
df.dropna(inplace=True)
df.dtypes
df.describe()

,Temperature,Pressure,Methane,Nitrogen,M1_conc,M2_conc,D_change,IFT
count,1766.000000,1766.000000,1766.000000,1766.000000,1766.000000,1766.000000,1766.000000,1766.000000
mean,74.128652,15.875853,3.397508,6.131116,0.923757,0.536571,0.658482,40.732027
std,39.062114,12.648211,13.871424,17.728503,1.406542,1.231026,0.294025,11.658186
min,5.250000,0.100000,0.000000,0.000000,0.000000,0.000000,0.012192,12.400000
25%,40.000000,6.312500,0.000000,0.000000,0.000000,0.000000,0.394025,31.605000
50%,70.000000,12.080000,0.000000,0.000000,0.000000,0.000000,0.741280,38.275000
75%,100.000000,20.000000,0.000000,0.000000,1.790000,0.000000,0.908175,48.192500
max,196.250000,69.510000,80.000000,76.360000,4.950000,5.000000,1.273900,76.100000

In [8]:
X= df. drop(['IFT','Phase'],axis=1)

In [9]:
y=df.IFT.astype(float)

In [10]:
from sklearn.preprocessing import OneHotEncoder
One_hot=OneHotEncoder()
categorical=['Salttype']
X_categorical=One_hot.fit_transform(X[categorical])

In [11]:
x_cat=pd.DataFrame(X_categorical.toarray(),columns= One_hot.get_feature_names(categorical))

Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.

In [12]:
x_cat

,Salttype_CaCl,Salttype_MgCl,Salttype_Na2SO4,Salttype_NaCl,Salttype_NaClCaCl,Salttype_NaClKCl,Salttype_Water
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...
1761,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1762,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1763,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1764,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1765,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [13]:
X.index=x_cat.index

In [14]:
X=pd.concat([X,x_cat],axis=1)
X=X.drop(["Salttype"],axis=1)

In [15]:
y.index=X.index

In [16]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y, random_state=5,train_size=.7)

In [17]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [18]:
predicted=pd.read_excel("C:/Users/Paa Kwasi/Desktop/Interfacial tension research/IFT RESEARCH PREDICTIONS.xlsx")

In [20]:
predicted=predicted.drop(['Salttype'],axis=1)

In [22]:
X_new=scaler.transform(predicted)

In [24]:
y_New=loaded_model.predict(X_new)

In [25]:
y_New=pd.DataFrame(y_New, columns=['IFT_Pred'])

In [33]:
Final=pd.concat([predicted,y_New], axis=1)

In [34]:
Final

,Temperature,Pressure,Methane,Nitrogen,M1_conc,M2_conc,D_change,Salttype_CaCl,Salttype_MgCl,Salttype_Na2SO4,Salttype_NaCl,Salttype_NaClCaCl,Salttype_NaClKCl,Salttype_Water,IFT_Pred
0,49.85,5.00,0,0,3.419,0,1.0310,0,0,0,0,0,1,0,55.067375
1,69.85,5.00,0,0,3.419,0,1.0320,0,0,0,0,0,1,0,56.918629
2,49.85,10.00,0,0,3.419,0,0.7550,0,0,0,0,0,1,0,42.888161
3,69.85,10.00,0,0,3.419,0,0.8810,0,0,0,0,0,1,0,44.862007
4,49.85,15.00,0,0,3.419,0,0.4550,0,0,0,0,0,1,0,39.518612
5,69.85,15.00,0,0,3.419,0,0.6250,0,0,0,0,0,1,0,40.522217
6,49.85,20.00,0,0,3.419,0,0.3590,0,0,0,0,0,1,0,37.473442
7,69.85,20.00,0,0,3.419,0,0.4740,0,0,0,0,0,1,0,38.466740
8,49.85,25.00,0,0,3.419,0,0.3200,0,0,0,0,0,1,0,35.849285
9,69.85,25.00,0,0,3.419,0,0.3800,0,0,0,0,0,1,0,37.220928
10,100.00,21.41,0,0,0.000,0,0.2511,0,0,0,0,0,0,1,24.626774

In [35]:
Final.to_csv("Xboost_Predicted_loaded.csv")